<div class="row">
    <div class="col-md-12">
        <form role="form">
            <div class="form-group">
                <label for="exampleInputName1">Email address</label>
                <input type="text" class="form-control" id="exampleInputName1" placeholder="Enter Your Name">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">

                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="form-group">
                <label>Textarea</label><br>
                <textarea cols="50" rows="10"></textarea>

                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="form-group">
                <label>Default Select:</label>
                <select>
                    <option>Option A</option>
                    <option>Option B</option>
                </select>

                <p class="help-block">This is the default Select.</p>
            </div>
            <div class="form-group">
                <label>Large Select:</label>
                <select class="select-large">
                    <option>Option A</option>
                    <option>Option B</option>
                </select>

                <p class="help-block">This Select Style modifies the Default Select and makes it larger (Looks on Webkit).</p>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Check me out
                </label>
            </div>
            <input type="submit" value="Submit"/>

        </form>
    </div>
</div>