<div class="row">
    <div class="col-sm-12">
        <h2>What is Maverix?</h2>

        <p class="indent">Maverix is a maccish bootstrap theme and application boilerplate. It gives your web-apps a
            native look and feel and bundles
            <a href="https://angularjs.org/">AngularJS</a> and other components such as <a href="http://jquery.com/">jQuery</a>,
            <a href="http://www.flotcharts.org/">Flot</a> and <a href="http://andreruffert.github.io/rangeslider.js/">rangeslider.js</a>
        </p>

        <p class="indent">It is perfect to be used for apps that are based on HTML App Containers such as:
        <ul>
            <li><a href="https://github.com/maccman/macgap">MacGap</a></li>
            <li><a href="https://github.com/rogerwang/node-webkit">Node-Webkit</a></li>
            <li><a href="https://github.com/atom/atom-shell">Github Atom Shell</a></li>
            <li><a href="https://github.com/adobe/brackets-shell">Adobe Brackets Shell</a></li>
        </ul>
        </p>
        <hr/>
        <h2>Design Decisions</h2>

        <div class="indent">
            <h3>Closest possible to native</h3>


            <p>All controls and Elements are carefully designed to perfectly fit into the native mac environment.</p>

            <h3>Non Responsive (for now...)</h3>

            <p>Desktop Apps don't need to run on thousands of different devices and
                viewports. You are the master of setting a minimum-viewport and the app won't get smaller than this. If
                you
                are
                using Maverix Theme in a traditional web-app it is also okay for Admin Backends that don't need
                responsive
                layout.
            </p>

            <h3>Built on Bootstrap and Less</h3>

            <p>Twitters Bootstrap comes bundled with tons of useful styles and add ons and
                allows beginners and masters to get started quickly (grid positioning, etc.). The maverix styles are
                enhancing bootstrap and are written in
                <a href="http://lesscss.org/">less.css</a>
            </p>

            <h3>Webkit first</h3>

            <p>
                Maverix Theme is primarily made to enable app container based web-apps to look like native OS X Apps.
                So webkit is the primary engine when releasing new components. However this doesn't mean that other
                browsers
                are totally unsupported. Maverix Theme is tested on Safari, Firefox and Chrome on OS X.
            </p>
            <hr/>
        </div>
        <h2>Bundled with AngularJS</h2>

        <p class="indent"><a href="https://angularjs.org/">AngularJS</a> is one of the best Javascript App Frameworks
            available today and so Maverix Theme comes bundled with AngularJS including fully working routing to get you
            started fast. Anyways, AngularJS usage is optional.</p>

        <hr/>
        <h2>Roadmap</h2>

        <p class="indent">
        <ul>
            <li>Bugfix requests are priority one.</li>
            <li>New Features will be added as far as they make sense.</li>
            <li>If demand is high for responsive design I will add it.</li>
        </ul>
        </p>

        <hr/>
        <h2>Bugs & Feature Requests</h2>
        <p class="indent">Use the <a href="https://github.com/tschundeee/maverix/issues">Maverix Github Issue Tracker</a>.
            You can also reach out to me via Mail <a href="mailto:b.rahnema@gmail.com?subject=Maverix">b.rahnema@gmail.com</a> or Twitter
                <a href="https://twitter.com/tschundeee">@tschundeee</a></p>
        <hr/>
        <h2>Feedback</h2>
        <p class="indent">
            Feedback is always welcome.
        </p>
    </div>
</div>