<div class="row">
    <div class="col-sm-12">
        <div class="table-cell" style="height: 500px">
            <table class="table table-maverix table-maverix-large">
                <tr>
                    <td class="td-icon"><span class="entypo-attention"></span></td>
                    <td><p class="info-main">Server did not react.</p>

                        <p class="info-sub">15.04.14 23:14</p></td>
                </tr>
                <tr>
                    <td class="td-icon"><span class="entypo-attention"></span></td>
                    <td><p class="info-main">Server did not react.</p>

                        <p class="info-sub">15.04.14 23:14</p></td>
                </tr>
                <tr>
                    <td class="td-icon"><span class="entypo-attention"></span></td>
                    <td><p class="info-main">Server did not react.</p>

                        <p class="info-sub">15.04.14 23:14</p></td>
                </tr>
                <tr>
                    <td class="td-icon"><span class="entypo-attention"></span></td>
                    <td><p class="info-main">Server did not react.</p>

                        <p class="info-sub">15.04.14 23:14</p></td>
                </tr>
                <tr>
                    <td>
                        <div class="placeholder"></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="placeholder"></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="placeholder"></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="placeholder"></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="placeholder"></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="placeholder"></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="placeholder"></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="placeholder"></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="placeholder"></div>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-2">

        <div class="dropdown btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="">
                <span class="entypo-cog"></span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="disabled"><a href="">Show Warning Details</a></li>
                <li><a href="">Clear Warnings</a></li>
            </ul>
        </div>

    </div>
    <div class="col-sm-10 text-right"><span class="search-input"><span class="entypo-search"></span><input type="text" class="mvx-search"
                                                                                                           placeholder="Filter Warnings"/></span>
        <a class="btn btn-help" href="" style="margin-left: 10px"><span class="entypo-help"></span></a>
    </div>

</div>