<h1>Heading One</h1>
<p>The Heading One style should be used rarely and only on specifically crafted pages. Make Sure it fits well if you
    decide to make use of it ;).</p>
<h2>Heading Two</h2>
<p>Headind Two is the default heading for this Theme. If you only present text after Heading Two you can also add an
    ".indent" class to the text container(e.g. p-tag).</p>
<h2>This looks like this</h2>
<p class="indent">This text is intended and looks awesome below a Heading Two.</p>
<hr/>
<h3>Heading Three</h3>
<p>Use heading three only if necessary and only to add some extra grouping below a Heading Two. Usually it fits better
    to use nav-tabs to for grouping and then make use of Heading Twos.</p>